<div class='friend-card'>
  <%= render @friend %>
   <div class="card-button-box">
     <%= link_to "Back", friends_path, class:'btn btn-primary' %>
       <%= link_to "Edit", edit_friend_path(@friend), class:'btn btn-primary' %>
       <%= button_to "Delete", @friend, method: :delete, class:'btn btn-primary' %>
   </div>
</div>
